:root {
  --heading-h1-font-family: "Inter 18pt", Helvetica;
  --heading-h1-font-weight: 600;
  --heading-h1-font-size: 48px;
  --heading-h1-letter-spacing: -0.48px;
  --heading-h1-line-height: 56px;
  --heading-h1-font-style: normal;
  --heading-h2-font-family: "Inter 18pt", Helvetica;
  --heading-h2-font-weight: 600;
  --heading-h2-font-size: 40px;
  --heading-h2-letter-spacing: -0.4px;
  --heading-h2-line-height: 48px;
  --heading-h2-font-style: normal;
  --heading-h3-font-family: "Inter 18pt", Helvetica;
  --heading-h3-font-weight: 600;
  --heading-h3-font-size: 32px;
  --heading-h3-letter-spacing: -0.32px;
  --heading-h3-line-height: 40px;
  --heading-h3-font-style: normal;
  --heading-h4-font-family: "Inter 18pt", Helvetica;
  --heading-h4-font-weight: 600;
  --heading-h4-font-size: 24px;
  --heading-h4-letter-spacing: 0px;
  --heading-h4-line-height: 32px;
  --heading-h4-font-style: normal;
  --heading-h5-font-family: "Inter 18pt", Helvetica;
  --heading-h5-font-weight: 600;
  --heading-h5-font-size: 20px;
  --heading-h5-letter-spacing: 0px;
  --heading-h5-line-height: 28px;
  --heading-h5-font-style: normal;
  --heading-h6-font-family: "Inter 18pt", Helvetica;
  --heading-h6-font-weight: 600;
  --heading-h6-font-size: 18px;
  --heading-h6-letter-spacing: 0px;
  --heading-h6-line-height: 24px;
  --heading-h6-font-style: normal;
  --paragraph-xlarge-font-family: "Inter", Helvetica;
  --paragraph-xlarge-font-weight: 400;
  --paragraph-xlarge-font-size: 24px;
  --paragraph-xlarge-letter-spacing: -0.36px;
  --paragraph-xlarge-line-height: 32px;
  --paragraph-xlarge-font-style: normal;
  --paragraph-large-font-family: "Inter", Helvetica;
  --paragraph-large-font-weight: 400;
  --paragraph-large-font-size: 18px;
  --paragraph-large-letter-spacing: -0.27px;
  --paragraph-large-line-height: 24px;
  --paragraph-large-font-style: normal;
  --paragraph-medium-font-family: "Inter", Helvetica;
  --paragraph-medium-font-weight: 400;
  --paragraph-medium-font-size: 16px;
  --paragraph-medium-letter-spacing: -0.17600000381469727px;
  --paragraph-medium-line-height: 24px;
  --paragraph-medium-font-style: normal;
  --paragraph-small-font-family: "Inter", Helvetica;
  --paragraph-small-font-weight: 400;
  --paragraph-small-font-size: 14px;
  --paragraph-small-letter-spacing: -0.0840000033378601px;
  --paragraph-small-line-height: 20px;
  --paragraph-small-font-style: normal;
  --paragraph-xsmall-font-family: "Inter", Helvetica;
  --paragraph-xsmall-font-weight: 400;
  --paragraph-xsmall-font-size: 12px;
  --paragraph-xsmall-letter-spacing: 0px;
  --paragraph-xsmall-line-height: 16px;
  --paragraph-xsmall-font-style: normal;
  --label-xlarge-font-family: "Inter", Helvetica;
  --label-xlarge-font-weight: 500;
  --label-xlarge-font-size: 24px;
  --label-xlarge-letter-spacing: -0.36px;
  --label-xlarge-line-height: 32px;
  --label-xlarge-font-style: normal;
  --label-large-font-family: "Inter", Helvetica;
  --label-large-font-weight: 500;
  --label-large-font-size: 18px;
  --label-large-letter-spacing: -0.27px;
  --label-large-line-height: 24px;
  --label-large-font-style: normal;
  --label-medium-font-family: "Inter", Helvetica;
  --label-medium-font-weight: 500;
  --label-medium-font-size: 16px;
  --label-medium-letter-spacing: -0.17600000381469727px;
  --label-medium-line-height: 24px;
  --label-medium-font-style: normal;
  --label-small-font-family: "Inter", Helvetica;
  --label-small-font-weight: 500;
  --label-small-font-size: 14px;
  --label-small-letter-spacing: -0.0840000033378601px;
  --label-small-line-height: 20px;
  --label-small-font-style: normal;
  --label-xsmall-font-family: "Inter", Helvetica;
  --label-xsmall-font-weight: 500;
  --label-xsmall-font-size: 12px;
  --label-xsmall-letter-spacing: 0px;
  --label-xsmall-line-height: 16px;
  --label-xsmall-font-style: normal;
  --subheading-medium-font-family: "Inter 18pt", Helvetica;
  --subheading-medium-font-weight: 500;
  --subheading-medium-font-size: 16px;
  --subheading-medium-letter-spacing: 0.96px;
  --subheading-medium-line-height: 24px;
  --subheading-medium-font-style: normal;
  --subheading-small-font-family: "Inter 18pt", Helvetica;
  --subheading-small-font-weight: 500;
  --subheading-small-font-size: 14px;
  --subheading-small-letter-spacing: 0.84px;
  --subheading-small-line-height: 20px;
  --subheading-small-font-style: normal;
  --subheading-xsmall-font-family: "Inter 18pt", Helvetica;
  --subheading-xsmall-font-weight: 500;
  --subheading-xsmall-font-size: 12px;
  --subheading-xsmall-letter-spacing: 0.72px;
  --subheading-xsmall-line-height: 16px;
  --subheading-xsmall-font-style: normal;
  --subheading-2xsmall-font-family: "Inter 18pt", Helvetica;
  --subheading-2xsmall-font-weight: 500;
  --subheading-2xsmall-font-size: 11px;
  --subheading-2xsmall-letter-spacing: 0.66px;
  --subheading-2xsmall-line-height: 12px;
  --subheading-2xsmall-font-style: normal;
  --tokens-bg-surface-default: var(--foundations-neutral-0);
  --tokens-bg-button-primary: var(--foundations-primary-500);
  --tokens-bg-state-success: var(--foundations-green-500);
  --tokens-bg-card-default: var(--foundations-neutral-0);
  --tokens-bg-state-warning: var(--foundations-yellow-500);
  --tokens-bg-state-error: var(--foundations-red-500);
  --tokens-bg-state-information: var(--foundations-blue-500);
  --tokens-bg-button-social: var(--tokens-bg-surface-weak);
  --tokens-bg-surface-soft: var(--foundations-neutral-200);
  --tokens-bg-surface-weak: var(--foundations-neutral-50);
  --tokens-bg-surface-primary: var(--foundations-primary-500);
  --tokens-text-neutral-main: var(--foundations-neutral-900);
  --tokens-text-neutral-sub: var(--foundations-neutral-500);
  --tokens-text-neutral-soft: var(--foundations-neutral-400);
  --tokens-text-neutral-disabled: var(--foundations-neutral-300);
  --tokens-text-neutral-white: var(--foundations-neutral-0);
  --tokens-text-state-primary: var(--foundations-primary-500);
  --tokens-text-state-information: var(--foundations-blue-500);
  --tokens-text-state-success: var(--foundations-green-500);
  --tokens-text-state-warning: var(--foundations-yellow-500);
  --tokens-text-state-error: var(--foundations-red-500);
  --tokens-stroke-neutral-strong: var(--foundations-neutral-900);
  --tokens-stroke-state-primary: var(--foundations-primary-500);
  --tokens-stroke-state-success: var(--foundations-green-500);
  --tokens-stroke-state-information: var(--foundations-blue-500);
  --tokens-stroke-state-warning: var(--foundations-yellow-500);
  --tokens-stroke-state-error: var(--foundations-red-500);
  --tokens-stroke-input-placeholder: var(--foundations-neutral-200);
  --tokens-stroke-input-filled: var(--foundations-neutral-200);
  --tokens-stroke-input-typing: var(--foundations-primary-500);
  --tokens-stroke-input-error: var(--foundations-red-500);
  --tokens-stroke-input-disabled: var(--foundations-neutral-200);
  --tokens-stroke-neutral-sub: var(--foundations-neutral-300);
  --tokens-stroke-neutral-soft: var(--foundations-neutral-200);
  --tokens-stroke-neutral-disabled: var(--foundations-neutral-100);
  --tokens-stroke-neutral-white: var(--foundations-neutral-0);
  --tokens-icon-neutral-main: var(--foundations-neutral-900);
  --tokens-icon-state-primary: var(--foundations-primary-500);
  --tokens-icon-state-success: var(--foundations-green-500);
  --tokens-icon-state-information: var(--foundations-blue-500);
  --tokens-icon-state-warning: var(--foundations-yellow-500);
  --tokens-icon-state-error: var(--foundations-red-500);
  --tokens-icon-neutral-sub: var(--foundations-neutral-500);
  --tokens-icon-neutral-soft: var(--foundations-neutral-400);
  --tokens-icon-neutral-disabled: var(--foundations-neutral-300);
  --tokens-icon-neutral-white: var(--foundations-neutral-0);
  --tokens-transparent-primary-10: rgba(38, 109, 240, 0.1);
  --tokens-transparent-primary-15: rgba(38, 109, 240, 0.15);
  --tokens-transparent-primary-25: rgba(38, 109, 240, 0.25);
  --tokens-transparent-primary-35: rgba(38, 109, 240, 0.35);
  --tokens-transparent-primary-50: rgba(38, 109, 240, 0.5);
  --tokens-transparent-white-50: rgba(255, 255, 255, 0.5);
  --tokens-transparent-black-50: rgba(10, 13, 20, 0.5);
  --tokens-transparent-black-40: rgba(10, 13, 20, 0.4);
  --tokens-transparent-black-30: rgba(10, 13, 20, 0.3);
  --tokens-transparent-black-20: rgba(10, 13, 20, 0.2);
  --tokens-transparent-black-10: rgba(10, 13, 20, 0.1);
  --tokens-transparent-white-40: rgba(255, 255, 255, 0.4);
  --tokens-transparent-white-30: rgba(255, 255, 255, 0.3);
  --tokens-transparent-white-20: rgba(255, 255, 255, 0.2);
  --tokens-transparent-white-10: rgba(255, 255, 255, 0.1);
  --foundations-primary-900: rgba(16, 46, 101, 1);
  --foundations-primary-800: rgba(21, 60, 132, 1);
  --foundations-primary-700: rgba(27, 77, 170, 1);
  --foundations-primary-600: rgba(35, 99, 218, 1);
  --foundations-primary-500: rgba(38, 109, 240, 1);
  --foundations-primary-400: rgba(81, 138, 243, 1);
  --foundations-primary-300: rgba(110, 157, 245, 1);
  --foundations-primary-200: rgba(155, 188, 248, 1);
  --foundations-primary-100: rgba(188, 210, 250, 1);
  --foundations-primary-50: rgba(233, 240, 254, 1);
  --foundations-neutral-900: rgba(17, 22, 37, 1);
  --foundations-neutral-800: rgba(28, 36, 52, 1);
  --foundations-neutral-700: rgba(45, 56, 76, 1);
  --foundations-neutral-600: rgba(62, 74, 96, 1);
  --foundations-neutral-500: rgba(89, 104, 129, 1);
  --foundations-neutral-400: rgba(135, 150, 175, 1);
  --foundations-neutral-300: rgba(197, 207, 221, 1);
  --foundations-neutral-200: rgba(222, 228, 238, 1);
  --foundations-neutral-100: rgba(239, 243, 248, 1);
  --foundations-neutral-50: rgba(247, 249, 251, 1);
  --foundations-neutral-0: rgba(255, 255, 255, 1);
  --foundations-blue-900: rgba(23, 39, 105, 1);
  --foundations-blue-800: rgba(30, 51, 138, 1);
  --foundations-blue-700: rgba(39, 66, 178, 1);
  --foundations-blue-600: rgba(50, 85, 228, 1);
  --foundations-blue-500: rgba(55, 93, 251, 1);
  --foundations-blue-400: rgba(95, 125, 252, 1);
  --foundations-blue-300: rgba(121, 146, 252, 1);
  --foundations-blue-200: rgba(163, 180, 253, 1);
  --foundations-blue-100: rgba(193, 205, 254, 1);
  --foundations-blue-50: rgba(235, 239, 255, 1);
  --foundations-green-900: rgba(24, 84, 62, 1);
  --foundations-green-800: rgba(31, 109, 81, 1);
  --foundations-green-700: rgba(40, 141, 104, 1);
  --foundations-green-600: rgba(51, 181, 134, 1);
  --foundations-green-500: rgba(56, 199, 147, 1);
  --foundations-green-400: rgba(96, 210, 169, 1);
  --foundations-green-300: rgba(122, 217, 183, 1);
  --foundations-green-200: rgba(163, 229, 205, 1);
  --foundations-green-100: rgba(193, 238, 222, 1);
  --foundations-green-50: rgba(235, 249, 244, 1);
  --foundations-yellow-900: rgba(102, 73, 27, 1);
  --foundations-red-900: rgba(94, 12, 27, 1);
  --foundations-red-800: rgba(123, 15, 36, 1);
  --foundations-red-700: rgba(158, 20, 46, 1);
  --foundations-red-600: rgba(203, 25, 59, 1);
  --foundations-red-500: rgba(223, 28, 65, 1);
  --foundations-red-400: rgba(229, 73, 103, 1);
  --foundations-red-300: rgba(234, 103, 128, 1);
  --foundations-red-200: rgba(240, 151, 168, 1);
  --foundations-red-100: rgba(245, 185, 196, 1);
  --foundations-red-50: rgba(252, 232, 236, 1);
  --foundations-yellow-800: rgba(133, 96, 35, 1);
  --foundations-yellow-700: rgba(172, 124, 45, 1);
  --foundations-yellow-600: rgba(220, 158, 58, 1);
  --foundations-yellow-500: rgba(242, 174, 64, 1);
  --foundations-yellow-400: rgba(245, 190, 102, 1);
  --foundations-yellow-300: rgba(246, 201, 127, 1);
  --foundations-yellow-200: rgba(249, 218, 167, 1);
  --foundations-yellow-100: rgba(251, 230, 196, 1);
  --foundations-yellow-50: rgba(254, 247, 236, 1);
}
